body{

    background:#f8fafc;
}

.dashboard{

    width:85%;

    margin:40px auto;
}

.dashboard h3{

    margin-bottom:24px;

    color:#64748b;

    letter-spacing:2px;

    font-size:14px;
}

.task-grid{

    display:grid;

    grid-template-columns:
    repeat(auto-fill,minmax(340px,1fr));

    gap:22px;
}