.task-card{

    background:white;

    border:1px solid #e2e8f0;

    border-radius:14px;

    padding:22px;

    display:flex;

    flex-direction:column;

    gap:18px;

    transition:.25s;
}

.task-card:hover{

    transform:translateY(-5px);

    box-shadow:0 12px 25px rgba(0,0,0,.08);
}

.task-top{

    display:flex;

    justify-content:space-between;

    align-items:center;
}

.task-id{

    color:#64748b;

    font-size:14px;
}

.badge{

    padding:5px 12px;

    border-radius:8px;

    font-size:12px;

    font-weight:600;
}

.LEVEL_1{

    background:#dbeafe;

    color:#1d4ed8;
}

.LEVEL_2{

    background:#dcfce7;

    color:#15803d;
}

.LEVEL_3{

    background:#fee2e2;

    color:#dc2626;
}

.task-desc{

    font-size:18px;

    line-height:1.6;

    color:#0f172a;
}

.task-bottom{

    display:flex;

    justify-content:space-between;

    align-items:center;
}

.timer{

     color:#2563eb;

    font-weight:600;

}

.delete-btn{

    background:white;

    border:1px solid #cbd5e1;

    padding:10px 18px;

    border-radius:8px;

    cursor:pointer;
}